<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/1dc71a7fda.js"
      crossorigin="anonymous"
    ></script>
    
    <title>Gastro BA</title>
  </head>
  <body>
    <section class="showcase">
      <header>
        <h2 class="logo">GastroBA</h2>
        <div class="toggle"></div>
      </header>
     <video muted loop autoplay>
        <source src="/img/food.mp4" type="video/mp4" />
      </video>
      <div class="overlay"></div>
      <div class="text">
        <h2>¿Qué tenés ganas</h2>
        <h3>de comer hoy?</h3>
        <div>
         <input type="text" placeholder="Hamburguesa,empanadas,helado...">
        </div>
        <a href="">Buscar</a>
      </div>
      <ul class="social">
        <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
      </ul>
    </section>
    <div class="menu" id="menuOpen">
      <ul>
        <li><a href="">Team Dulce</a></li>
        <li><a href="">Team Salado</a></li>
        <li><a href="">Lo nuevo en BA</a></li>
        <li><a href="">Recomienda</a></li>
        <li><a href="">Contáctanos</a></li>
      </ul>
    </div>
 
  </body>
</html>
